
@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
    font-family:"grotesk-bold" ;
    src: url('../fonts/SpaceGrotesk-Bold.otf');
}

@font-face {
    font-family:"grotesk-light" ;
    src: url('../fonts/SpaceGrotesk-Light.otf');
}


@font-face {
    font-family:"grotesk-medium" ;
    src: url('../fonts/SpaceGrotesk-Medium.otf');
}


@font-face {
    font-family:"grotesk" ;
    src: url('../fonts/SpaceGrotesk-Regular.otf');
}

body {
    
    width: 100%;
    margin-top:0;
    margin: 0 !important;
  }